{% extends "base.html" %} {% block head %}
<link href="/css/highlight.css" rel="stylesheet" type="text/css" /> {% endblock %} {% block metadata %}
<meta name="description" content="{{article.summary}}"> {% endblock %} {% block title %} {{article.title}} - Nova {% endblock %} {% block content %}


<div class="card">
    <div class="card-header " style="background-image:url('{% if article.thumb %}{{article.thumb}}{% elif article.category.thumb %}{{article.category.thumb}}{% else %}http://novashang.com/static/img/home_bg.png{% endif %}')">

        <div class="card-mask article-header">
            <div class="article-title">
                <h1>{{article.title}}</h1>
                <p>{{article.createdAt|date('Y-m-d H:i', -480, 'CCT')}} / 分类:{{article.category.title}} / 浏览:{{article.count}}</p>
            </div>

            <div class="tags">{% for tag in article.tags %}<span class="tag tag-dark">{{tag.name}}</span>{% endfor %}</div>
            <p class="summary">{{article.summary}}</p>
        </div>
    </div>
    <div class="article-card-content">
        <div class="article-content">
            {{article_content | safe }}
        </div>
    </div>
    <div>
        <a>
            上一篇
        </a>
        <a>
            下一篇
        </a>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <div class="content-card">
            fasdf
        </div>
    </div>
    <div class="col-3">
    </div>
</div>
<script src="/js/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad()
</script>
{% endblock %}