<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> {% block metadata %} {% endblock %}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/blog.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> {% block head %} {% endblock %}
    <title>{% block title %}Koa Tiny Blog{% endblock title %}</title>
</head>

<body>
    <header>
        <!--导航条-->

        <nav class="navbar navbar-inverse bg-inverse">
            <div class="container d-flex align-items-center ">
                <a class="navbar-brand" href="#">       
                    <img src="/svg/logo.svg" alt="<N> NOVA">
                </a>
                <span class="navbar-text">
                    NOVA
                </span>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">博客</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">作品集</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">关于我</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <!--正文-->
    <div class="container">
        {% block content %} {% endblock %}
    </div>


    <!--页脚-->
    <footer>
        <div class="container">
            <div class="row">
                <h4>Koa Tiny Blog <small> by Nova</small></h4>
            </div>
        </div>
    </footer>
    <script>
        $(window).scroll(function(e) {
            if (window.scrollY > 20) {
                hided = true;
                $('.navbar-brand').hide();
                $('.content-card').css('margin-top', 90);
                $('.navbar').addClass('fixed-top');
                $('.navbar-text').show();
            } else {
                $('.navbar-brand').show();
                $('.navbar-text').hide();

                $('.navbar').removeClass('fixed-top');
                $('.content-card').css('margin-top', 0);

            }
            console.log(window.scrollY);
        })
    </script>
</body>

</html>