{% extends "base.html" %}
<!--Meta Data-->
{% block metadata %}
<meta name="description" content="blog"> {% endblock %}
<!--Title-->
{% block title %}{{title}} {{sub_title}} Koa Tiny Blog{% endblock %}
<!--Content-->
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">

        <div class="article-list">
            {% for article in articles %}
            <div class="content-card index-card" style="background-image:url('{% if article.thumb %}{{article.thumb}}{% elif article.category.thumb %}{{article.category.thumb}}{% else %}{% endif %}')">
                <div class="index-card-mask">
                    <a href="/blog/articles/{{article.id}}">
                        <h2 class="text-primary">{{article.title}}</h2>
                    </a>
                    <p class="text-muted">{{article.createdAt|date('Y-m-d H:i:s', -480, 'CCT')}}</p>
                    <p class="text-justify">
                        {{article.summary}}
                    </p>
                    <p>
                        {% for tag in article.tags %}
                        <a href="blog/tag/{{tag.id}}"> <span class="label label-primary">{{tag.name}}</span></a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
        {% include "right-column.html" %}
    </div>
</div>

{% endblock %}