{% extends "base.html" %}
<!--Meta Data-->
{% block metadata %}
<meta name="description" content="blog"> {% endblock %}
<!--Title-->
{% block title %}{{title}} {{sub_title}} Koa Tiny Blog{% endblock %}
<!--Content-->
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">

        <div class="article-list">
            {% for article in articles %}
            <a href="/blog/articles/{{article.id}}">
                <div class="content-card">
                    <div class="article-card-header" style="background-image:url('{% if article.thumb %}{{article.thumb}}{% elif article.category.thumb %}{{article.category.thumb}}{% else %}http://novashang.com/static/img/home_bg.png{% endif %}')">
                        <div class="article-card-header-mask article-card-header-index">
                            <div class="article-title-index">
                                <h1>{{article.title}}</h1>
                                <p>{{article.createdAt|date('Y-m-d H:i', -480, 'CCT')}} 浏览:{{article.count}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="article-card-content-index">
                        <div class="article-content">
                            <p>{% for tag in article.tags %}<span class="badge badge-light">{{tag.name}}</span>{% endfor %}</p>
                            <p class="summary">最近做的Revit二次开发项目中需要获取族的缩略图，分两种情况：获取硬盘上的RFA文件的缩略图和获取当前RVT文档中已载入族的缩略图。RevitAPI文档中没有相关信息，搜遍中文互联网，找不到现成的解决方案。最后在Autodesk的一个大神的技术博客上找到了点思路，自己尝试了一下最后写出代码。分享下。</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
    </div>
</div>

{% endblock %}