{% extends "base.html" %}
<!--Meta Data-->
{% block metadata %}
<meta name="description" content="blog"> {% endblock %}
<!--Title-->
{% block title %}{{title}} {{sub_title}} Koa Tiny Blog{% endblock %}
<!--Content-->
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="card">
            {% if title %}
            <div class="card-header">
                <div class="card-mask">
                    <h3>{{subTitle}}：{{title}}</h3>
                </div>
            </div>
            {% endif %}
            {% for article in articles %}
            <a class="card-content" href="/blog/articles/{{article.id}}">
                <div class="article-list-title">
                    <h4>{{article.title}}</h4>
                    <span>{{article.createdAt|date('Y-m-d H:i', -480, 'CCT')}} 浏览:{{article.count}}</span>
                    <div><span class="blue-text">{{article.category.title}} </span> {% for tag in article.tags %}<span class="tag tag-light">{{tag.name}}</span>{%
                        endfor %}</div>
                </div>
                <p class="summary">{{article.summary}}</p>
            </a>
            {% endfor %}
            <div class="card-content-row">
                {% if currentPage!=1 %}
                <a href="/blog/?page={{currentPage-1}}" class="card-content-cell article-pre">
                    <img src="/svg/pre.svg" alt="">
                    <span class="hidden-mobile">上一页</span>
                </a> {% endif %}
                <div class="card-content-cell">
                    第<span class="blue-text">{{currentPage}}</span>页，共<span class="blue-text">{{pages}}</span>页
                </div>
                 {% if currentPage!=pages %}
                <a href="/blog/?page={{currentPage+1}}" class="card-content-cell article-next">
                    <span class="hidden-mobile">下一页</span>
                    <img src="/svg/next.svg" alt="">
                </a> {% endif %}
            </div>
        </div>
        <div class="paginator">
            <a class="pre"></a>

            <a class="next"></a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
        <h6 class="block-title">分类</h6>
        {% include "components/categories.html" %}
        <h6 class="block-title">标签</h6>
        {% include "components/tags.html" %}
        <h6 class="block-title">推广</h6>
        {% include "components/ad.html" %}
    </div>
</div>

{% endblock %}