<footer style="background-color:#333;color:#BBB">
    <div class="container">
        <div class="row" style="padding-top:30px;">
            <div class="col-sm-12" style="padding-bottom:20px;">
                <h4>BIM &amp; Coding&nbsp;&nbsp;<small>&nbsp;&nbsp;高尚的个人博客</small></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 footer-col">
                <p>Designed &amp; Developed by <a href="#"><b>Nova</b></a></p>
                <p>Powered by node.js and koa</p>
                <p>Based on <a href="https://github.com/NovaShang/koa-tiny-blog">koa-tiny-blog</a> </p>

            </div>
            <div class="col-sm-4 footer-col">
                <p>
                    <span class="footer-icon"> 
                        <img src="/svg/mail.svg" alt="">

                    </span>
                    <a href="mailto:styleshang@outlook.com" class="footer-text"> styleshang@outlook.com</a>
                </p>
                <p>
                    <span class="footer-icon">
                        <img src="/svg/github.svg" alt="">
                    </span>
                    <a href="https://github.com/novashang"> novashang</a>
                </p>
                <p>
                    <span class="footer-icon"> 
                         <img src="/svg/weibo.svg" alt="">
                    </span>
                    <a href="http://weibo.com/novashang"> NNNNNova</a>
                </p>
            </div>
            <div class="col-sm-4 footer-col">
                <p>&lt;NOVA&gt;</p>
                <p>Think + Believe = 42</p>
                <a href="http://www.miitbeian.gov.cn/"> 沪ICP备16022751号-1 </a>
            </div>
        </div>
    </div>
</footer>