<header>
    <!--导航条-->
    <nav class="navbar">
        <div class="container navbar-container">
            <a class="navbar-brand" href="#">       
                    <img class="brand-logo" src="/svg/logo.svg" alt="<N>">
                    <span class="brand-text">
                         N O V A
                    </span>               
                    <span class="navbar-text">
                        高尚的博客
                    </span>
                </a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if nav=='home' %}active{% endif %}">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item {% if nav=='blog' %}active{% endif %}">
                    <a class="nav-link" href="/blog">博客</a>
                </li>
                <li class="nav-item {% if nav=='portfolio' %}active{% endif %}">
                    <a class="nav-link" href="/portfolio">作品集</a>
                </li>
                <li class="nav-item {% if nav=='about' %}active{% endif %}">
                    <a class="nav-link" href="/about">关于我</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--控制导航条随滚动调整的脚本-->
    <script>
        var status = 0;
        $(window).scroll(function() {
            if ($(window).scrollTop() < 60) {
                if (status != 1) {
                    status = 1;
                    $(".brand-logo").stop().animate({
                        height: "90px",
                    }, 300, "swing", function() {
                        status = 0;
                    });
                }
            } else {
                if (status != 2) {
                    status = 2;
                    $(".brand-logo").stop().animate({
                        height: "0px",
                    }, 300, "swing", function() {
                        status = 0;
                    });
                }

            }
        });
    </script>
</header>