<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/site.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/home.css" rel="stylesheet" type="text/css" />
    <title>&lt;NOVA&gt; 高尚个人站</title>
</head>

<body>
    <!--头部！-->
    <header style="background-image:url('/static/img/home_bg.png');background-position: top center;">
        <!--导航栏-->
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-navbar-collapse">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#"> 
                        &nbsp;&lt;&nbsp;N&nbsp;O&nbsp;V&nbsp;A&nbsp;&gt;&nbsp; 
                    </a>
            </div>
            <div class="collapse navbar-collapse" id="site-navbar-collapse">
                <!--导航项目-->
                <ul class="nav navbar-nav navbar-left">
                    <li> <a href="/blog">博客</a></li>
                    <li> <a href="/portfolio">作品集</a></li>
                    <li> <a href="/about">关于我</a></li>


                </ul>
                <!--用户登录-->
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li> <a href="#"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
                    <li> <a href="/logout/">注销 </a></li>
                    {% else %}
                    <li> <a href="/login/{{request.path}}"><span class="glyphicon glyphicon-user"></span> 登陆 </a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!--主Banner-->
        <div class="landscape row">
            <div class="main-logo">
                <img class="center-block" src="/static/img/main-logo.png" alt="">
            </div>
            <div class="container">
                <p class="text-name text-center">
                    <b style="color:white">高尚</b> 的个人站, 关于：
                </p>
                <p class="text-center" style="color:#999"><small>下边这六个东西不能点的</small></p>
                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <a href="/blog/cate/bim">
                            <span class="item-icon">
                            {% include "svg/BIM.svg" %}
                        </span>
                        </a>
                        <p class="text-item text-center"> BIM </p>
                    </div>

                    <div class="col-sm-2 col-xs-4">
                        <a href="/blog/cate/coding">
                            <span class="item-icon">
                            {% include "svg/Coding.svg" %}
                        </span>
                        </a>
                        <p class="text-item text-center"> 编程 </p>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="/blog/cate/design">
                            <span class="item-icon">
                            {% include "svg/Design.svg" %}                          
                        </span>
                        </a>
                        <p class="text-item text-center"> 设计 </p>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="/blog/cate/tech">
                            <span class="item-icon">
                            {% include "svg/Tech.svg" %}
                        </span>
                        </a>
                        <p class="text-item text-center"> 科技 </p>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <span class="item-icon">
                            {% include "svg/Life.svg" %}
                        </span>
                        </a>
                        <p class="text-item text-center"> 生活 </p>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="/about">
                            <span class="item-icon">
                            {% include "svg/Me.svg" %}
                        </span>
                        </a>
                        <p class="text-item text-center"> 还有我 </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--正文-->
    <div class="landscape row">
        <a href="/blog/">
            <div class="col-xs-12 col-sm-6 col-md-3 home-block" style="background-image:url('/static/img/blog_home.jpg');">
                <div class="home-block-text">
                    <p>高尚的个人博客</p>
                    <p>记录我的技术积累、学习历程</p>
                    <p>还有生活</p>
                </div>
            </div>
        </a>
        <a href="/ezvr/">
            <div class="col-xs-12 col-sm-6 col-md-3 home-block" style="background-image:url('/static/img/ezvr_home.jpg');">
                <div class="home-block-text">
                    <p>虚拟现实发布平台</p>
                    <p>无需技术、无需设备</p>
                    <p>每个人都能创造并体验VR</p>
                </div>
            </div>
        </a>
        <a href="/">
            <div class="col-xs-12 col-sm-6 col-md-3 home-block" style="background-image:url('/static/img/none_home.png');">
                <div class="home-block-text">
                    <p>还有一些个人小项目在做</p>
                    <p>等完善一些再放过来吧</p>
                </div>
            </div>
        </a>
        <a href="/about/">
            <div class="col-xs-12 col-sm-6 col-md-3 home-block" style="background-image:url('/static/img/about_home.jpg');">
                <div class="home-block-text">
                    <p>高尚的个人简历</p>
                    <p>我是谁？</p>
                </div>
            </div>
        </a>
    </div>




    {% include "footer.html" %}
</body>

</html>