<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-vue.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> {% block head %} {% endblock %}
    <title>&lt;NOVA&gt;</title>
</head>

<body>
    <div id="app">
        <!--导航栏-->
        <b-navbar toggleable type="inverse" variant="inverse">
            <b-nav-toggle target="nav_collapse"></b-nav-toggle>
            <!--Logo-->
            <b-link class="navbar-brand" to="#">
                <span>N O V A</span>
            </b-link>

            <b-collapse is-nav id="nav_collapse">
                <b-nav is-nav-bar>
                    <b-nav-item>主页</b-nav-item>
                    <b-nav-item>博客</b-nav-item>
                    <b-nav-item>作品集</b-nav-item>
                    <b-nav-item>关于我</b-nav-item>

                </b-nav>

                <b-nav is-nav-bar class="ml-auto">

                    <!-- Navbar dropdowns -->
                    <b-nav-item-dropdown text="Lang" right-alignment>
                        <b-dropdown-item to="#">EN</b-dropdown-item>
                        <b-dropdown-item to="#">ES</b-dropdown-item>
                        <b-dropdown-item to="#">RU</b-dropdown-item>
                        <b-dropdown-item to="#">FA</b-dropdown-item>
                    </b-nav-item-dropdown>

                    <b-nav-item-dropdown right-alignment>

                        <!-- Using text slot -->
                        <template slot="text">
            <span style="font-weight: bold;">User</span>
          </template>

                        <b-dropdown-item to="#">Profile</b-dropdown-item>
                        <b-dropdown-item to="#">Signout</b-dropdown-item>
                    </b-nav-item-dropdown>

                </b-nav>
            </b-collapse>
        </b-navbar>

    </div>




    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.js"></script>
    <script src="/js/marked.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script src="/js/polyfill.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap-vue.js"></script>
    <script src="/js/manager.js"></script>

</body>