{% extends "base.html" %} {% block title %}作品集 - Nova{% endblock %} {% block content %}
<div class="row">
    {% for work in works %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-content">
                <img src="{{work.logo}}"></img>
            </div>
            <div class="card-content">
                <h4 class="blue-text">{{work.title}}</h4>
                <p>{{work.summary}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}