{% extends "base.html" %} {% block title %}发布文章{% endblock %} {% block head %}
<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-resource.js"></script>
<script src="/static/js/marked.js"></script>
<script src="/static/js/lodash.js"></script>
<link href="/static/css/editor.css" rel="stylesheet" type="text/css" /> {% endblock %} {% block content %}
<div id="md-editor">
    <div id="editor-toolbar">
        <div id="editor-toolbar-left">
            <div id="editor-toolbar-top">
                <input type="text" v-model="title" class="editor-text" id="text-title" placeholder="文章标题">
                <div id="tags-panel">
                    <ul id="tags">
                        <li v-for="tag in currentTags"> <span class="label label-primary tag" v-on:click="tags.push(currentTags.pop())">${ tag }</span> </li>
                        <li><button type="button" v-on:click="showTagPanel=true" class="btn btn-default" id="btn-addtag"><span class="glyphicon glyphicon-plus"></span></button>
                            <div class="hover" id="panel-addtag" v-show="showTagPanel">
                                <div class="hover-title">
                                    <button type="button" class="btn btn-sm btn-primary" v-on:click="addNewTag"><span class="glyphicon glyphicon-plus"></span></button>
                                    <input type="text" v-model="newtag" class="editor-text" id="text-newtag" placeholder="新标签">
                                    <button type="button" class="btn btn-sm btn-default pull-right" v-on:click="showTagPanel=false"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                                <div class="hover-content">
                                    <span v-for="tag in tags"><span class="label label-primary tag" v-on:click="currentTags.push(tags.pop())">${ tag }</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <select id="select-cate" v-model="cate" id="select-cate">
                    <option value="default">请选择分类</option>
                {% for cate in cates %}  <option value="{{cate.name}}">{{cate.title}}</option>{% endfor %}
            </select>
            </div>
            <input type="text" v-model="summary" class="editor-text" id="text-summary" placeholder="文章摘要">
        </div>
        <button type="button" @click="publish" class="btn btn-primary btn-block" id="publish-button">发布</button>
    </div>
    <div id="editor-main">
        <textarea :value="mdSrc" @input="update" id="editor-left" spellcheck="false">
            left
        </textarea>
        <div v-html="mdCompiled" id="editor-right">
            right
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        delimiters: ['${', '}'],
        el: '#md-editor',
        data: {
            title: '',
            summary: '',
            cate: 'default',
            mdSrc: '',
            newtag: '',
            showTagPanel: false,
            tags: [],
            currentTags: [],
            cates: [],
        },
        computed: {
            mdCompiled: function() {
                return marked(this.mdSrc, {
                    sanitize: true
                });
            }
        },
        methods: {
            update: _.debounce(function(e) {
                this.mdSrc = e.target.value;
            }, 300),
            publish: function() {
                $.post('/api/blog/publish', {
                    title: this.title,
                    cate: this.cate,
                    summary: this.summary,
                    content: this.mdSrc
                }, function(data) {
                    if (data.result == "success") {
                        window.location.href = data.url;
                    } else {
                        alert(data.message);
                    }
                });
            },
            addNewTag: function() {
                this.currentTags.push(this.newtag);
                $.post("/api/blog/tags", {
                    name: this.newtag
                }, function(data) {
                    if (data.result != "success") {
                        alert(data.message);
                    }
                });
                this.newtag = '';

            }
        }
    });
    $.get("/api/blog/tags", function(data) {
        app.tags = data.map(x => x.name);
    });
    $.get("/api/blog/categories", function(data) {
        app.cates = data;
    })
    document.getElementById("editor-main").style.height = window.innerHeight - 125 + "px";
</script>

{% endblock %}