<div class="right-column">
    <div class="panel panel-default">
        <div class="panel-heading">
            分类
        </div>
        <ul class="list-group"> {% for cate in cates %}
            <a href="{{config.urlbase}}/cate/{{cate.name}}">
                <li class="list-group-item">{{cate.title}}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            标签
        </div>
        <div class="panel-body">
            <p>
                {% for tag in tags %}
                <a href="{{config.urlbase}}/tag/{{tag.id}}"> <span class="label label-primary">{{tag.name}}</span></a>
                {% endfor %}
            </p>
        </div>
    </div>
</div>