/*背景和导航栏*/


/*全局设置*/

html {
    font-family: sans-serif;
    line-height: 1.15;
}

[role=button],
a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #EEE;
    padding-top: 100px;
    margin: 0px;
}

a {
    color: #0275d8;
    text-decoration: none !important;
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
    text-decoration: none !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

p {
    margin-top: 0px;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0px;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

table {
    border-collapse: collapse;
    background-color: transparent;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #636c72;
    text-align: left;
    caption-side: bottom;
}

textarea {
    resize: vertical;
}

th {
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
    padding: 0.2rem 0.4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f7f7f9;
    border-radius: 0.25rem;
}

a>code {
    padding: 0;
    color: inherit;
    background-color: inherit;
}

small {
    font-size: 80%;
    font-weight: 400;
}

@media (max-width:576px) {
    body {
        padding-top: 117px;
    }
}


/*按钮*/

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.btn-gray {
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}

.btn-gray:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, .5);
    box-shadow: 0px 0px 0px 2px rgba(204, 204, 204, 0.5);
}

.btn-gray:hover {
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
}


/*导航栏*/

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1030;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    align-items: center !important;
    display: flex !important;
}

.navbar-brand {
    color: #FFF;
    padding: 0px;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand>img {
    height: 90px;
}

.brand-text {
    margin-left: 15px;
    padding: 0px;
}

.navbar-text {
    display: inline-block;
    padding: 0px;
    font-size: 0.75em;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    flex-direction: row;
    margin-left: auto !important;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0px 3px;
}

.navbar-nav .active {
    border-bottom: 3px solid white;
}

.navbar-nav>.active>.nav-link {
    color: #fff;
}

@media (max-width:768px) {
    .navbar-text {
        display: none;
    }
}

@media (max-width:576px) {
    .navbar>.container {
        width: 100%;
        flex-direction: column;
    }
    .navbar-nav {
        width: 100%;
        justify-content: center;
    }
    .content-card>.card-content {
        padding: 20px 8px;
    }
}


/*卡片*/

.card {
    background-color: #FFF;
    padding: 0px;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

@media (max-width:576px) {
    .card {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.card-mask {
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

.card-header {
    background-color: white;
    color: white;
    padding: 0px;
    background-position: center;
}

.card-content {}


/*页脚*/

.footer-icon>img {
    height: 24px;
    width: 24px;
}

footer p {
    margin-bottom: 8px;
}

footer {
    padding-bottom: 20px;
}


/*标签*/

.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.tag-light {
    border: 1px solid #666;
    margin: 4px;
    color: #333;
}

.tag-dark {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin: 4px;
    color: white;
}


/*主页*/

.home-nav-container {
    width: 100%;
    padding: 0px 30px;
}

.home-card {
    background-color: #222;
    margin: 20px;
    padding: 15px;
    display: flex;
}

.home-card-icon {
    width: 64px;
    height: 64px;
}

.home-card-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: #DDD;
}

.home-card-time {
    font-size: 0.8em;
    color: #888;
}

.home-card-type {
    font-size: 0.8em;
}

@media (max-width:576px) {
    .home-nav-container {
        flex-direction: column;
    }
}


/*文章*/

.article-header {
    padding-top: 100px;
    padding-bottom: 20px;
}

.article-title {
    border-left: 4px solid white;
    padding-left: 15px;
}

.summary {
    margin-top: 10px;
    margin-bottom: 0px;
}

.article-card-header-index {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.article-card-content {
    padding: 40px;
}

.article-card-content-index {
    padding: 5px 10px;
}

.article-title-index {
    border-left: 4px solid white;
    padding-left: 15px;
}

.article-title-index>h1 {
    font-size: 30px;
}

.article-title-index>p {
    font-size: 14px;
    margin-bottom: 0px;
}


/*文章列表卡片*/

.index-card {
    margin-top: 15px;
}

.index-card-mask {
    background-color: #EEE;
    height: 100%;
    width: 100%;
    padding: 20px;
}