#editor-toolbar{
    height: 60px;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-bottom: 2px solid #DDD;
    display: table;

}

#editor-left{
    border: none;
    border-right: 1px solid #DDD;
    resize: none;
    outline: none;
    background-color: #F3F3F3;
    font-size:14px;
    font-family: monospace;
    padding: 20px;
    float: left;
    width: 50%;
    height: 100%;
}

#editor-right{
    float:right;
    width: 50%;
    height: 100%;
    box-sizing:border-box;
    padding: 20px;
    overflow-y:auto; 
}

.editor-text{
    border: 1px solid #DDD;
    outline: none;
    height: 30px;
}

#text-title{
    width: 50%;
    float: left;
}

#text-summary{
    width: 100%;
}

#publish-button{
    float: left;
    height: 100%;
    width: 80px;
    border-radius: 0px;
    vertical-align: top;
    display: table-cell;
}

#select-cate{
    float: left;
    width: 50%;
    height: 30px;
        border: 1px solid #DDD;

}

#editor-toolbar-left{
    width: 100%;
    display: table-cell;
}