#editor-toolbar {
    height: 60px;
    width: 100%;
    background-color: #DDD;
    display: flex;
}

.editor-text {
    outline: none;
    border: none;
    height: 30px;
    background: transparent;
    padding-left: 10px;
}

#editor-toolbar-left {
    width: 100%;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 5px;
}

#editor-toolbar-left-top {
    display: flex;
    flex-wrap: nowrap;
    max-height: 30px;
}

#text-title {
    flex-grow: 1;
    border-bottom: 2px solid #AAA;
    margin-right: 5px;
}

#tags-panel {
    border-bottom: 2px solid #AAA;
    margin-left: 5px;
    margin-right: 5px;
}

#cate-panel {
    border-bottom: 2px solid #AAA;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#tags {
    padding-left: 0px;
}

#tags>li {
    float: right;
    list-style: none;
}

.tag {
    font-size: 13px;
    font-weight: normal;
    line-height: 2.2;
    margin-left: 2px;
    margin-right: 2px;
}

#btn-addtag {
    font-size: 11px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

.transparent-control {
    border: none;
    outline: none;
    background: transparent;
}

#select-cate {
    width: 100px;
    height: 26px;
}

#text-summary {
    width: 100%;
}

#blog-editor {
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px lightgray;
}

#editor-right {
    float: right;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
    border: 1px solid #DDD;
    border-top: none;
}

#publish-button {
    height: 100%;
    width: 80px;
    border-radius: 0px;
}

#editor-left {
    border: none;
    resize: none;
    outline: none;
    background-color: #F3F3F3;
    font-size: 14px;
    font-family: monospace;
    padding: 20px;
    float: left;
    width: 50%;
    height: 100%;
}

.hover {
    float: left;
    background-color: #FFF;
    box-shadow: 0px 0px 5px gray;
    padding: 0px;
    border: 1px solid #999;
}

#panel-addtag {
    position: absolute;
    width: 300px;
}

.hover-title {
    background-color: #DDD;
    padding: 5px;
    display: flex;
}

.hover-content {
    padding: 5px;
    background-color: #FFF
}

.hover-title>p {
    margin: 5px;
    flex-grow: 1
}

.hover-title>button {
    margin-left: 5px;
}

.model-dialog-bg {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.model-dialog-fg {
    background: #FFF;
    border: 1px solid #999;
    box-shadow: 0px 0px 30px black;
    left: 0px;
    right: 0px;
    top: 200px;
    margin: auto;
    width: 400px;
    min-height: 300px;
    position: fixed;
}