{% extends "../two-columns.html" %} {% block metadata %}
<meta name="description" content="BIM&Codng 高尚的个人博客 BIM 编程 Python C#"> {% endblock %} {% block title %}{{title}} {{sub_title}} - Nova {% endblock %} {% block maincol %}
<div class="page-header">
    <h1>{{title}} <small> {{sub_title}}</small></h1>
</div>
<div class="article-list">
    {% for article in articles %}
    <div class="article-list-item">

        <a href="/blog/{{article.id}}">
            <h2 class="text-primary">{{article.title}}</h2>
        </a>
        <p class="text-muted">{{article.createTime}}</p>
        <p class="text-justify">
            {{article.summary}}
        </p>
        <p>
            {% for tag in article.tags %}
            <a href="/blog/tag/{{tag.id}}"> <span class="label label-primary">{{tag.name}}</span></a>
            {% endfor %}
        </p>
        <hr/>
    </div>
    {% endfor %}
</div>
{% endblock %} {% block rightcol %} {% include "right-column.html" %} {% endblock %}